#!/usr/bin/bash
SSL_FILE_PATH= \
	SSL_SERVER_NAME= \
	SSL_CERTIFICATE= \
	SSL_KEY= \
	SSL_PEM= \
	THIRD_PARTY_CREDENTIALS_PATH= \
	HOST= \
	ORIGINS= \
	MYSQL_HOST= \
	MYSQL_USER= \
	MYSQL_PASSWORD= \
	TWILIO_ACCOUNT_SID= \
	TWILIO_AUTH_TOKEN= \
	TWILIO_SERVICE_SID= \
	ENABLE_RECAPTCHA= \
	RECAPTCHA_SECRET_KEY= \
	RECAPTCHA_SITE_KEY= \
	GATEWAY_SERVER_HOST= \
	RMQ_SSL= \
	RABBITMQ_DEFAULT_USER= \
	RABBITMQ_DEFAULT_PASS= \
	PUBLISHER_ENCRYPTION_KEY= \
	docker-compose --project-name smswithoutborders up -d --build
